:root{
    --black: #000000;
    --purple: #4004da;
    --blue: #0061fd;
    --pink: #dd02ae;
    --light-grey: #E0E0E0;
    --light-grey-opacity: #75757567;
    --opacity: rgba(117, 117, 117, 0.589);
    --grey: #333333;
    --white: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--black);
    padding: 1em;
}
      /*<div class="capeta">
            <div class="pestana"></div>
            <div class="cuerpo"></div>
            <div class="fondo"></div>
        </div>*/

.capeta{
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    
    .pestana{
        height: 5vh;
        width: 20vw;
        background-color: var(--light-grey-opacity);
        backdrop-filter: blur(20px);
        border-top-right-radius: 0.5em;
        border-top-left-radius: 0.5em;
        max-width: 200px;
       /* box-shadow: inset 5px 5px 5px var(--white),
                    inset 10px 10px 10px var(--blue),
                    inset 15px 15px 15px var(--purple);*/
    }
    
    .cuerpo{
        background-color: var(--light-grey-opacity);
        backdrop-filter: blur(20px);
        width: 70vw;
        height: 40vh;
        border-bottom-left-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
        border-top-right-radius: 0.5em;
        max-width: 600px;
        box-shadow: inset -5px -5px 5px var(--white),
                    inset -8px -8px 10px var(--blue),
                    inset -20px -20px 15px var(--purple);
                    
    }
    .fondo{
        width: 250px;
        height: 250px;
        position: absolute;
        z-index: -1;
        background-color: var(--opacity);
        border-radius: 50%;
        transform: translate(100px ,200px);
    }
    /*.fondo{
        position: absolute;
        width: 100px;
        height: 100px;
        background-color: var(--pink);
        border-radius: 50%;
        z-index: -1;
        transform: translate(100px ,20px);
        box-shadow: 0 0 30px 10px var(--pink), 0 0 15px 5px var(--pink);
        opacity: 0.8;
    }
    .fondo::before{
        content: '';
        position: absolute;
        border-radius: 50%;
        transform: translate(-150px ,100px);
        width: 250px;
        height: 250px;
        background-color: var(--purple);
        box-shadow: 0 0 30px 10px var(--purple);
        opacity: 0.8;
    }
    .fondo::after{
        content: '';
        position: absolute;
        border-radius: 50%;
        transform: translate(250px ,250px);
        width: 150px;
        height: 150px;
        background-color: var(--blue);
        box-shadow: 0 0 30px 10px var(--blue), 0 0 15px 5px var(--blue);
        opacity: 0.8;
    }*/
}